$primary-color: #FA4616;
$secondary-color: #0068df;
$accent-color: #e74c3c;
$background-color: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
$background-color-secondary: #fafafa;
$text-color: #333333;
$text-color-secondary: #b1b1b1;
$border-color: #bdc3c7;
$highlight-primary: #f7f8f9;
