$font-stack: "Helvetica Neue", sans-serif;
$font-stack-secondary: "Arial", sans-serif;
$font-size-base: 16px;
$font-size-sm: 0.875rem; // 14px
$font-size-lg: 1.25rem; // 20px
$font-size-xl: 1.5rem; // 20px
$heading-font-weight: 600;
$body-font-weight: 400;
