<arrow-down
  *ngIf="iconId === 'arrow-down'"
  [width]="width"
  [height]="height"
  [fill]="fill"
></arrow-down>
<arrow-up
  *ngIf="iconId === 'arrow-up'"
  [width]="width"
  [height]="height"
  [fill]="fill"
></arrow-up>
<arrow-left
  *ngIf="iconId === 'arrow-left'"
  [width]="width"
  [height]="height"
  [fill]="fill"
></arrow-left>
<arrow-right
  *ngIf="iconId === 'arrow-right'"
  [width]="width"
  [height]="height"
  [fill]="fill"
></arrow-right>
<sortable-icon
  *ngIf="iconId === 'sortable'"
  [width]="width"
  [height]="height"
  [fill]="fill"
></sortable-icon>
<hamburger-icon
  *ngIf="iconId === 'hamburger'"
  [width]="width"
  [height]="height"
  [fill]="fill"
></hamburger-icon>
<close-circle
  *ngIf="iconId === 'close-circle'"
  [width]="width"
  [height]="height"
  [fill]="fill"
></close-circle>
