<svg
  [attr.width]="width"
  [attr.height]="height"
  viewBox="0 0 80 80"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path d="M39.5 20H24V44H16V20L0.5 19.5L20.5 0.5L39.5 20Z" [attr.fill]="fill" />
  <path d="M24 52H16V60H24V52Z" [attr.fill]="fill" />
  <path d="M16 68V76H24V68H16Z" [attr.fill]="fill" />
  <path d="M64 4H56V12H64V4Z" [attr.fill]="fill" />
  <path d="M56 27.5V20H64V27.5H56Z" [attr.fill]="fill" />
  <path d="M56 60V36H64V60H79.5L60 79.5L40.5 60H56Z" [attr.fill]="fill" />
</svg>
