@import "_colors";
@import "_spacing";
@import "_typography";
@import "_shadows";
@import "_breakpoints";

.info-container {
  margin-top: 8px;
}
.info {
  font-size: 12px;
  color: grey;
}
.progress-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 12px;
}